<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 PayPal. All rights reserved. -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-card-recognizer"
        version="1.0.0">
  <name>cordova-plugin-card-recognizer</name>
  <description>This plugin allows to add to add CardIO to your application using CardIO Native library</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version="&gt;=3.0.0"/>
  </engines>

  <dependency id="cordova-plugin-enable-multidex"/>
  <dependency id="cordova-plugin-androidx"/>
  <dependency id="cordova-plugin-androidx-adapter"/>


  <js-module src="www/cdv-plugin-card-io.js" name="CardIO">
    <clobbers target="CardIO"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CardIO">
        <param name="ios-package" value="CardIOCordovaPlugin" onload="true"/>
      </feature>
    </config-file>
    <pods-config ios-min-version="11.0" use-frameworks="true"/>
    <pod id="SnapKit"/>
    <pod id="PayCardsRecognizer"/>

    <source-file src="src/ios/CardIOCordovaPlugin.swift"/>
    <source-file src="src/ios/CardIOHelpersCard.swift"/>
    <source-file src="src/ios/CardIOScreenTestViewController.swift"/>

    <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CardIO">
        <param name="android-package" value="io.card.cordova.sdk.CardIOCordovaPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/CardIOCordovaPlugin.java" target-dir="src/io/card/cordova/sdk"/>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    <framework src="kz.greetgo:paycardsrecognizer:1.0.5-SNAPSHOT"/>

  </platform>

</plugin>
